@use "variables";
@use "base";
@use "themes";

:root {
  // Retro
  --color-primary: #d9534f;
  --color-secondary: #f0ad4e;
  --color-tertiary: #5cb85c;
  --color-accent: #5bc0de;
  --color-text: #3e3e3e;
  --color-background: #fdf6e3;
  --typography-primary: "Courier New", Courier, monospace;
}
